.in-form {
  -webkit-transition: box-shadow 0.3s;
  border: 0;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  height:17px;
  margin-right: 5px;
  transition: box-shadow 0.3s;
  width: 430px;
}

.in-form:focus {
  box-shadow: -8px 10px 0px -7px #583D72, 8px 10px 0px -7px #583D72;
  outline: none;
}

.title-forms {
  color: #583D72;
  font-weight: bolder;
}

.margin-label {
  margin-left: 12px;
}

.label-form {
  color:#583D72;
  font-weight: bolder;
}

.form-btn {
  background-color: #583D72;
  color: white;
}

.status-btn {
  background-color: #9F5F80;
  color: white;
}

.show-btn{
  background-color: #FF8474;
  color: white;
}

.card-employee {
  background-color: #9F5F80;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: white;
  height: 300px;
  width: 550px;   
  text-align: center;
  transition: 0.3s;
  }

 .card-size {
   font-size: 20px;
 }

 .bold-font{
   font-weight: bolder;
 }

 .pagy-color{
  background-color: #9F5F80;
 }

@media screen and (max-width: 700px) {
  .in-form {
    -webkit-transition: box-shadow 0.3s;
    border: 0;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    height:17px;
    transition: box-shadow 0.3s;
    width: 330px;
  }
  .in-form:focus {
    box-shadow: -8px 10px 0px -7px #583D72, 8px 10px 0px -7px #583D72;
    outline: none;
  }
 .card-employee {
    background-color: #9F5F80;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: white;
    height: 270px;
    width: 335px;
    text-align: center;
    transition: 0.3s;
  }
  .card-size {
    font-size: 16px;
  }
  .bold-font{
    font-weight: bolder;
  }
}
